body{
    font-family: "roboto"
}

.a{
    width: 70%;
    height:auto;
    border:3px  dashed #03071e;
    justify-content: center;
    background: rgb(187, 221, 221);
    text-align: justify;
    align-content: "center";
    margin: 0,auto;
    padding: 1rem ;
    justify-content: space-between;

}